<div class="categories-row">
    CATEGORIES!
    {{#each categories as |category|}}
    <div>
        {{name}}
    </div>
    {{/each}}
</div>
<button class="test-button">TEST!</button>
<script src="/js/select.js"></script>