<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test Trivia</title>
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <h1 class="nav-logo">Trivia</h1>
      <ul class="nav-menu">
        <li class="nav-item"><a href="/"><span aria-hidden="true">Home</span></a></li>
        {{#unless logged_in}}
          <li class="nav-item"><a href="/login"><span aria-hidden="true">Login</span></a></li>
          <li class="nav-item"><a href="/newplayer"><span aria-hidden="true">New Player</span></a></li>
        {{else}}
          <li class="nav-item"><a href="/trivia"><span aria-hidden="true">Trivia</span></a></li>
          <li class="nav-item"><a href="/logout" id="logout"><span aria-hidden="true">Logout</span></a></li>
        {{/unless}}
      </ul>
    </nav>
  </header>

  {{!-- <main class="content"> --}}
      {{{body}}}
  {{!-- </main> --}}

  <footer class="footer">

      <script src="/public/js/login.js"></script>

  </footer>
</body>
</html>