<main class="content">
  <section class="home-section">
    <h2>Welcome to the Trivia Game!</h2>
    <p>This is a fun and exciting trivia game where you can test your knowledge on various topics.</p>
    
    {{#if logged_in}}
    <p>Ready to challenge yourself? Head to Trivia and start playing now!</p>
      <a href="/triviapage" class="button">Trivia</a>
    {{else}}
      <p>Get started by creating a new player account or logging in if you already have one.</p>
      <a href="/newplayer" class="button">Create Account</a>
      <a href="/login" class="button">Login</a>
    {{/if}}
  </section>
</main>