


<body>
        <div>
            <h4>CONGRATULATIONS!</h4>
            <p>You've scored {{current_score}} points!</p>
        </div>
            <h3>High Scores</h3>
        <div>
            <div class="leader-board">
                {{#each topThree as |player|}}
                    <div class="player-row">
                        <div class="player-name">{{player.name}}</div>
                        <div class="player-score">{{player.highscore}}</div>
                    </div>
                {{/each}}
            </div>
        </div>

    <script src="/js/leaderboard.js"></script>
</body>