<body>
    <h1>Hello!</h1>
    <section class="game-board">
        <div class="question-panel">
            {{> question-details}}
        </div>
    
    <script src='../public/js/game.js'></script>
    </section>
</body>

{{!-- By the time we've gotten to this page, a Deck of questions from the Questions table will have already been made. --}}
    {{!-- The questions will be displayed one at a time through the questions partial (question-details) --}}
    {{!-- when eventListeners are activated, they will fetch GET requests from the /api/deck/:num endpoint --}}
        {{!-- :num will increment by 1 every time a question is answered. This will happen within the same callback function 
        as the fetch request being made. So it won't be as complicated as it sounds. --}}
