body {
    margin: 0;
    background-color: powderblue;
    font-family: 'Preahvihear', sans-serif;
}

.hide {
    display:none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-logo {
    float: left;
}

.nav-menu {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 200px;
    padding-top: 25px;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(30vh - 60px); 
    background-color: powderblue; 
}

.content-box {
    background-color: white;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}